header.affix {
    height: 80px;
}
.b-head__wrapper {
    margin: 0 auto;
    max-width: 960px;
    height: 79px;
    width: 100%;
    clear: both;
}
.b-head-logo {
    position:relative;
    display:block;
    float:left;
    margin:0;
    max-width: 195px;
    width:100%;
}
.e-head-logo {
    position:relative;
    display:block;
    float:left;
    max-width: 195px;
    width: 100%;
    height: 80px;
    background:rgba(0,0,0,0) url(../img/kkb__logo-a.png) no-repeat center center;
}
.b-head-user {
    background: #FFFFFF; 
    max-width: 275px;
    height: 79px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d1d4d3;
}
.e-head-user {
    display: inline-block;
    background: #a89e70;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 20px 15px;
}
.e-head-user .icon-user {
    color: #4d5357;
    margin-left: 7px;
}
.e-head-user__name {
    display: inline-block;
    color: #4d5357;
    font-size: 13px;
    max-width: 140px;
}
.e-head-user__edit {
    float: right;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.e-head__back {
    display: block;
    float:left;
    width: 25px;
    height: 80px;
    background: #FFFFFF url(../img/b-user__back.png) no-repeat right; 
}
.e-head__back2 {
    display: block;
    float:left;
    width: 25px;
    height: 80px;
    background: #FFFFFF url(../img/b-user__back2.png) no-repeat right; 
}
.b-head-account {
    background: #FFFFFF; 
    max-width: 375px;
    height: 79px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d1d4d3;
    padding-left: 10px;
}
.e-head-account {
    display: block;
    color: #4d5357;
    font-size: 13px;
    line-height: 40px;
}
.e-head-account__name {
    color: #007ea3;
    font-size: 13px;
    line-height: 30px;
}
.e-head-account__edit {
    color: #4d5357;
    font-size: 13px;
    cursor: pointer;
}
.b-head-exit {
    background: #004165; 
    max-width: 50px;
    height: 79px;
    width: 100%;
    float: left;
}
.e-head-exit {
    color: #FFFFFF;
    line-height: 80px;
    font-size: 13px;
    padding-left: 10px;
}
.b-head-contact__wrapper {
    position: relative;
    clear: both;
    background: url(../img/b-head.png) repeat-x;
    width: 100%;
    margin-top: 80px;
    z-index: 9989;
}
.b-head-contact {
    display: block;
    margin:0 auto;
    max-width: 960px;
    width: 100%;
    clear: both;
    padding: 13px 0 17px;
    color: #4d5357;
}
.e-head-contact__text {
    margin-left: 5px;
    font-size: 15px;
    color: #4d5357;
    margin-right: 30px;
}
.e-head-contact__text a,
.e-head-contact__text a:hover,
.e-head-contact__text a:visited {
    text-decoration: none;
    font-style: italic;
    color: #4d5357;
}
.b-head-social {
    float: right;
    font-size: 15px;
    margin-top: -5px;
}
.e-head-social__icon {
    border-radius: 50%;
    background-color: #4d5357;
    color: #FFFFFF;
    padding-left: 3px;
    padding-top: 3px;
    width: 22px;
    height: 22px;
    display: inline-block;
}
.e-head-social__icon:hover {
    background-color: rgba(77, 83, 87, 0.7);
}
.e-head-social__icon.fb {
    padding-left: 8px;
    width: 17px;
}
.e-head-social__icon.yt {
    padding-left: 4px;
    width: 21px;
}
.e-head-social__icon.vk {
    padding-left: 2px;
    width: 23px;
}

.b-head-menu {
    position: relative;
    margin-top: -10px;
    clear: both;
    background: #007ea3;
    width: 100%;
    height: 50px;
    z-index: 9988;
}
.b-head-menu__items {
    margin: 0 auto;
    max-width: 960px;
    display: table;
    width: 100%;
    line-height: 50px;
}
.b-head-menu a:visited {
    color: #FFFFFF;
}
.b-head-menu a:hover {
    text-decoration: none;
}
.e-head-menu__item {
    display: table-cell;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    color: #FFFFFF;
}
.e-head-menu__item:hover {
    font-weight: bold;
    background: #eeaf00;
    color: #007ea3;
}
.e-head-menu__item.active {
    background: #eeaf00;
}
/*
.e-head-menu__item:hover :after {
    content: '';
    width: 0;
    height: 0;
    position: relative;
    top: 57px;
    left: -20%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #eeaf00;
}
.e-head-menu__item.active:after {
    content: '';
    width: 0;
    height: 0;
    position: relative;
    top: 57px;
    left: -20%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #eeaf00;
}
*/

.b-container {
    margin: 0 auto;
    max-width: 960px;
    height: 150%;
    width: 100%;
    clear: both;
}

.b-license {
    clear: both;
    float: left;
}
.b-license__logo {
    background: url(../img/kkb__logo-b.png);
    width: 35px;
    height: 35px;
    display: inline-block;
}
.b-license__text {
    font-size: 11px;
}
.b-copyright {
    font-size: 11px;
    float: right;
    margin-top: 22px;
}

.b-editbuttons {
    height: 40px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}
.e-editbutton__send {
    display: inline-block;
    background: #24740f;
    padding: 10px;
    box-shadow: 0 3px 0 #185108;
    margin-right: 20px;
    cursor: pointer;
}
.e-editbutton__create {
    display: inline-block;
    background: #24740f;
    padding: 10px;
    box-shadow: 0 3px 0 #185108;
    margin-right: 20px;
    cursor: pointer;
}
.e-editbutton__delete {
    display: inline-block;
    background: #900a20;
    padding: 10px;
    box-shadow: 0 3px 0 #78051a;
    cursor: pointer;
}

.b-pagination {
    height: 40px;
    float: right;
    font-size: 0;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.e-pagination__back {
    font-size: 13px;
    display: inline-block;
    background: #f5f5f5;
    padding: 10px;
    box-shadow: 0 3px 0 #d2d4d5;
    cursor: pointer;
}
.e-pagination__elems {
    font-size: 13px;
    display: inline-block;
    background: #d8d8d8;
    padding: 10px;
    box-shadow: 0 3px 0 #a6a9ab;
}
.e-pagination__forward {
    font-size: 13px;
    display: inline-block;
    background: #d8d8d8;
    padding: 10px;
    box-shadow: 0 3px 0 #a6a9ab;
    cursor: pointer;
}
.e-pagination__pages {
    font-size: 13px;
    color: #4d5357;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
}

.b-table {
    clear: both;
    margin-bottom: 20px;
}
.b-table__head {
    background: #f3f3f3;
    height: 38px;
    border: 1px solid #d1d4d3;
    color: #007ea3;
    font-size: 13px;
    line-height: 38px;
    width: 100%;
}
.b-table__row li,
.b-table__user-row li,
.b-table__head__row li {
    display: inline-block;
}
.e-table__check {
    max-width: 30px;
    width: 100%;
    padding-left: 40px;
}
/*
.e-table__check:before {
    content: '';
    height: 38px;
    border-left: 1px solid #d1d4d3;
    position: relative;
    top: 3px;
    left: -23px;
    display: inline-block;
    margin-top: -16px;
}
.e-table__check:after {
    content: '';
    width: 38px;
    border-top: 1px solid #d1d4d3;
    position: relative;
    top: 3px;
    left: -23px;
    display: inline-block;
    margin-top: -16px;
}
*/
.e-table__user__check,
.e-table__head__check {
    max-width: 60px;
    width: 100%;
    padding-left: 10px;
}
.e-table__user,
.e-table__user__user,
.e-table__head__user {
    max-width: 150px;
    width: 100%;
}
.e-table__status {
    color: #d4d5d5;
}
.e-table__status.active {
    color: #287319;
}
.e-table__status,
.e-table__head__status {
    max-width: 60px;
    width: 100%;
    text-align: center;
}
.e-table__destination {
    color: #d4d5d5;
}
.e-table__destination.active {
    color: #287319;
}
.e-table__destination,
.e-table__head__destination {
    max-width: 90px;
    width: 100%;
    text-align: center;
}
.e-table__number,
.e-table__head__number {
    max-width: 160px;
    width: 100%;
}
.e-table__type,
.e-table__head__type {
    max-width: 220px;
    width: 100%;
}
.e-table__sum,
.e-table__head__sum {
    max-width: 90px;
    width: 100%;
}
.e-table__left,
.e-table__head__left {
    max-width: 70px;
    width: 100%;
}
.e-table__user__edit {
    font-size: 20px;
    float: right;
    padding-right: 10px;
}
.e-table__user__edit,
.e-table__head__edit {
    max-width: 20px;
    width: 100%;
}
.b-table__row {
    background: #FFFFFF;
    height: 38px;
    border: 1px solid #d1d4d3;
    border-bottom: none;
    border-top: none;
    color: #4d5357;
    font-size: 13px;
    line-height: 38px;
    width: 100%;
}
.b-table__user-row {
    background: #eef4ed;
    height: 38px;
    border: 1px solid #d1d4d3;
    border-bottom: none;
    color: #4d5357;
    font-size: 13px;
    font-weight: bold;
    line-height: 38px;
    width: 100%;
}
.b-table__user {
    border-bottom: 1px solid #d1d4d3;
}


.b-helpicons {
    margin: 0 auto;
    max-width: 960px;
    height: 110px;
    width: 100%;
    clear: both;
}
.b-helpicons__list {  
    display: table;
    width: 100%;
}
.b-helpicon {
    display: table-cell;
}
.e-helpicon__img {
    display: block;
    background: url(../img/icons.png) no-repeat 0 0;
    width: 80px;
    height: 70px;
}
.e-helpicon__img.atm {
    background-position: -47px -15px;
}
.e-helpicon__img.offices {
    background-position: -225px -15px;
}
.e-helpicon__img.sms {
    background-position: -389px -15px;
}
.e-helpicon__img.tariff {
    background-position: -569px -15px;
}
.e-helpicon__img.demo {
    background-position: -741px -15px;
}
.e-helpicon__img.help {
    background-position: -915px -15px;
}
.e-helpicon__txt {
    color: #007ea3;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px dashed #007ea3;
    text-align: center;
}

.b-banner {
    margin: 0 auto;
    max-width: 960px;
    height: 90px;
    width: 100%;
    clear: both;
}
.b-footer__wrapper {
}
.b-footer__column:nth-child(5) {
    width: 100px;
}