header.affix {
    height: 80px;
}
.b-head__wrapper {
    margin:0 auto;
    max-width: 960px;
    height: 79px;
    width: 100%;
    clear: both;
}
.b-head-logo {
    position:relative;
    display:block;
    float:left;
    margin:0;
    max-width: 195px;
    width:100%;
}
.e-head-logo {
    position:relative;
    display:block;
    float:left;
    max-width: 195px;
    width: 100%;
    height: 80px;
    background:rgba(0,0,0,0) url(../img/kkb__logo-a.png) no-repeat center center;
}
.b-head-user {
    background: #FFFFFF; 
    max-width: 275px;
    height: 79px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d1d4d3;
}
.e-head-user {
    display: inline-block;
    background: #a89e70;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 20px 15px;
}
.e-head-user .icon-user {
    color: #4d5357;
    margin-left: 7px;
}
.e-head-user__name {
    display: inline-block;
    color: #4d5357;
    font-size: 13px;
    width: 140px;
}
.e-head-user__edit {
    float: right;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 10px;
}
.e-head__back {
    display: block;
    float:left;
    width: 25px;
    height: 80px;
    background: #FFFFFF url(../img/b-user__back.png) no-repeat right; 
}
.e-head__back2 {
    display: block;
    float:left;
    width: 25px;
    height: 80px;
    background: #FFFFFF url(../img/b-user__back2.png) no-repeat right; 
}
.b-head-account {
    background: #FFFFFF; 
    max-width: 375px;
    height: 79px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #d1d4d3;
    padding-left: 10px;
}
.e-head-account {
    display: block;
    color: #4d5357;
    font-size: 13px;
    line-height: 40px;
}
.e-head-account__name {
    color: #007ea3;
    font-size: 13px;
    line-height: 30px;
}
.e-head-account__edit {
    color: #4d5357;
    font-size: 13px;
}
.b-head-exit {
    background: #004165; 
    max-width: 50px;
    height: 79px;
    width: 100%;
    float: left;
}
.e-head-exit {
    color: #FFFFFF;
    line-height: 80px;
    font-size: 13px;
    padding-left: 10px;
}
.b-head-contact__wrapper {
    clear: both;
    background: url(../img/b-head.png) repeat-x;
    width: 100%;
    margin-top: 80px;
}
.b-head-contact {
    display: block;
    margin:0 auto;
    max-width: 960px;
    width: 100%;
    clear: both;
    padding: 13px 0 17px;
    color: #4d5357;
}
.e-head-contact__text {
    margin-left: 5px;
    font-size: 15px;
    color: #4d5357;
    margin-right: 30px;
}
.e-head-contact__text a,
.e-head-contact__text a:hover,
.e-head-contact__text a:visited {
    text-decoration: none;
    font-style: italic;
    color: #4d5357;
}
.b-head-social {
    float: right;
    font-size: 15px;
    margin-top: -5px;
}
.b-head-social .icon-circle {
    color: #4d5357;
}
.b-head-social .e-footer__icons {
    color: #FFFFFF;
}


.b-container {
    margin: 80px auto 0;
    max-width: 960px;
    height: 100%;
    width: 100%;
    clear: both;
}

.b-license {
    clear: both;
    float: left;
}
.b-license__logo {
    background: url(../img/kkb__logo-b.png);
    width: 35px;
    height: 35px;
    display: inline-block;
}
.b-license__text {
    font-size: 11px;
}
.b-copyright {
    font-size: 11px;
    float: right;
    margin-top: 22px;
}

.b-editbuttons {

}
.e-editbutton__send {

}
.e-editbutton__create {
    
}
.e-editbutton__delete {
    
}

.b-pagination {

}
.e-pagination__back {

}
.e-pagination__items {

}
.e-pagination__forward {

}
.e-pagination__pages {

}



.b-helpicons {
    margin:0 auto;
    max-width: 960px;
    height: 110px;
    width: 100%;
    clear: both;
}
.b-helpicons__list {  
    display: table;
    width: 100%;
}
.b-helpicon {
    display: table-cell;
}
.e-helpicon__img {
    display: block;
    background: url(../img/icons.png) no-repeat 0 0;
    width: 80px;
    height: 70px;
}
.e-helpicon__img.atm {
    background-position: -47px -15px;
}
.e-helpicon__img.offices {
    background-position: -225px -15px;
}
.e-helpicon__img.sms {
    background-position: -389px -15px;
}
.e-helpicon__img.tariff {
    background-position: -569px -15px;
}
.e-helpicon__img.demo {
    background-position: -736px -15px;
}
.e-helpicon__img.help {
    background-position: -915px -15px;
}
.e-helpicon__txt {
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px dashed #4d5357;
    text-align: center;
}

.b-banner {
    margin:0 auto;
    max-width: 960px;
    height: 90px;
    width: 100%;
    clear: both;
}
.b-footer__column:nth-child(5) {
    width: 100px;
}